h1
{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

p
{
    color: rgb(255, 255, 255);
}

body
{
    background-color: black;
    background-image: url(img1.jpg);
    background-size: cover;
    
}