div.parent
{
    height: 250px;
    width: 250px;
    background-color: orange;
    display: flex;
    flex-direction: column-;
    align-self: center;
    margin-left: 250px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

div.child
{
    background-color: green;
    height: 70px;
    width: 70px;
}